<div class="well">
    <div class="row">
        <div class="col-xs-3">
            <div class="sender">
                <strong> n° {{ s.id }}</strong>
                <i class="fa fa-user"></i>
                {{ s.senderName }}
                -
                <i class="fa fa-tel"></i>
                {{ s.senderTel }}

            </div>
            <div class="date">
                {#<span class="badge"> {{ s.dateRaw }}</span>#}
                {#| #}
                <span class="badge badge-success">
                                {#{{ dump(s.dateReception) }}#}
                    {{ s.dateReception  | date('l Y-m-d H:i:s') }}
                            </span>
            </div>
        </div>
        <div class="col-xs-9">
            {% if s.sender %}
                <a href="{{ path('view_contact', {contactId: s.sender.id}) }}">

                    <strong>
                        {{ s.sender.firstName }}
                        {{ s.sender.middleName }}
                        {{ s.sender.lastName }}
                    </strong>
                    <span class="badge{% if (s.sender.smsSent|length) < 10 %}
                            badge-warning
                        {% elseif (s.sender.smsSent|length) > 30 %}
                            badge-success
                        {% endif %}">

                        {{ s.sender.smsSent|length }}
                        <i class="fa fa-message"></i>
                </span>
                </a>
            {% else %}

            {% endif %}
            <div class="content">
                {{ s.content }}
            </div>
        </div>
    </div>
</div>
