{% extends '@HWIOAuth/layout.html.twig' %}

{% block hwi_oauth_content %}
    {% if error is defined and error %}
        <span>{{ error }}</span>
    {% endif %}

    <a class="btn btn-default btn-{{ "twitter" }}" href="{{ hwi_oauth_login_url("twitter") }}">
        <i class="fa fa-{{ "twitter" }}"></i>
        {{ "twitter" | trans({}, 'HWIOAuthBundle') }}
    </a>
    <a class="btn btn-default btn-{{ "google" }}" href="{{ hwi_oauth_login_url("google") }}">
        <i class="fa fa-{{ "google" }}"></i>
        {{ "google" | trans({}, 'HWIOAuthBundle') }}
    </a>

    {#{% for owner in hwi_oauth_resource_owners() %}#}
    {#<a class="btn btn-default btn-block btn-{{ owner }}" href="{{ hwi_oauth_login_url(owner) }}">#}
    {#<i class="fa fa-{{ owner }}"></i>#}
    {#{{ owner | trans({}, 'HWIOAuthBundle') }}#}
    {#</a>#}
    {#<br/>#}
    {#{% endfor %}#}
{% endblock hwi_oauth_content %}
