<div class="header-block">
    <div class="row">
        {% if usersCount is defined %}
            <div class="col-xs-6">
                {% include 'default/login-choices.html.twig' %}
            </div>
            <div class="col-xs-6">
                <i class="fa fa-users"></i> {{ usersCount }} utilisateurs
            </div>
        {% else %}
            {% include 'default/login-choices.html.twig' %}
        {% endif %}

    </div>
    <div class="row">
        <div class="col">

            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="{{ type }}">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>

        </div>
    </div>
</div>
