{% extends '::base.html.twig' %}
{% block body %}
    <div class="well">

        <h1>contacts
            <span class="badge">
                {{ app.user.contacts |length }}
            </span>
        </h1>
        <hr>

        {% block objects_list %}
            {% for c in contacts_list %}
                <div class="well">

                    <div class="row">
                        <div class="col-xs-3">
                            <div class="well">

                                <strong>
                                    {{ c.firstName }}
                                </strong>
                                <i>
                                    {{ c.middleName }}
                                </i>
                                <u>

                                    {{ c.lastName }}
                                </u>

                                <div class="user">
                                    <strong>

                                        {{ c.User1 }}
                                    </strong>
                                    <i>

                                        {{ c.User2 }}
                                    </i>
                                    <u>

                                        {{ c.User3 }}
                                    </u>
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div>
                                <span class="badge">
                                {{ c.smsSent |length }}
                                </span>
                                <span class="badge">
                                {{ c.smsRecieved |length }}
                                </span>
                                sms
                            </div>
                            <div>
                                {{ c.conversations |length }}
                                conversations
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        {% endblock %}

    </div>
{% endblock %}
