{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username"
            value="{% if last_username is defined %}{{ last_username }}{% endif %}" required="required"
            autocomplete="username"/>

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" autocomplete="current-password"/>
    <br>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    <br>
    <input class="btn btn-primary btn-block" type="submit" id="_submit" name="_submit"
            value="{{ 'security.login.submit'|trans }}"/>
</form>
