{% extends '::base.html.twig' %}
{% block body %}
    <main>
        {% if app.user is defined %}

            <div class="well">

                <div class="row">
                    <div class="col-xs-6">
                        <h1>Tableau de bord</h1>
                        <hr>

                        {% if counter_importations_done is defined %}
                            <div class="alert alert-info">

                                <i class="fa fa-info"></i>
                                {{ counter_importations_done }} importations faites
                            </div>
                        {% else %}

                        {% endif %}


                    </div>
                    <div class="col-xs-6">
                        <a class="btn btn-default" href="#">Voir mon calendrier</a>
                        <a class="btn btn-default">Exporter vos évènements</a>

                    </div>
                    <div class="col-xs-12">
                        <div class="well">
                            <h2>Statistiques</h2>
                            <hr>
                            <div class="row">
                                <div class="col-xs-3">
                                    {% include 'logged/stats/contacts.html.twig' %}
                                </div>
                                <div class="col-xs-3">
                                    {% include 'logged/stats/sms.html.twig' %}
                                </div>
                                <div class="col-xs-3">
                                    {% include 'logged/stats/conversations.html.twig' %}
                                </div>
                                <div class="col-xs-3">
                                    {% include 'logged/stats/researches.html.twig' %}
                                </div>
                                <div class="col-xs-3">

                                    {% include 'logged/stats/evenements.html.twig' %}
                                    <h2>{{ app.user.events|length }} évènements enregistrés</h2>
                                </div>
                                <div class="col-xs-3">
                                    <h2>x recherches google</h2>
                                </div>

                            </div>

                        </div>
                        <div class="well">

                            <h1>Importer</h1>
                            <div class="alert alert-warning">

                                <h2>Work in progress</h2>
                                {#{% include 'importations/msn.html.twig' %}#}
                                {% include 'importations/ical.html.twig' %}
                                {#{% include 'importations/evenements.html.twig' %}#}
                            </div>
                            <h2>Ok</h2>
                            {% include 'importations/google-search.html.twig' %}
                            {% include 'importations/google-contacts.html.twig' %}
                            {% include 'importations/sms.html.twig' %}
                            {#{% include 'importations/msn.html.twig' %}#}
                        </div>
                    </div>
                </div>


            </div>

        {% else %}
            pas d'utilisateur
        {% endif %}

    </main>
{% endblock %}
