<main>
    <form action="{{ path('i_event_generic') }}" method="POST" enctype="multipart/form-data">
        <fieldset>
            <h1>import d'évènement au format csv</h1>
            <pre class="well">
                    <strong>première ligne:</strong>
                    Type,	Summary, Description, Date JJ/MM/YY, Date start, Date End, Location, Categories, URL
            </pre>
            <i class="file file-excel-o"></i>
            <input type="file" id="testFile" name="csvfile" required>
            <input type="submit" value="envoyer">
        </fieldset>
    </form>
</main>
