<h2>FB comments</h2>
<main>
    <form action="{{ path('i_fbcomments') }}" method="POST" enctype="multipart/form-data">
        <fieldset>
            <h1>import de commentaires facebook json takeout</h1>
            <i class=" fa-file fa-file-excel"></i>
            <input type="file" id="testFile" name="csvfile" required>
            <input type="submit" value="envoyer">
        </fieldset>
    </form>
</main>
