{% extends '::base.html.twig' %}
{% block body %}
    <div class="well">
        <h2>Contact {{ contact.firstName }}
            {{ contact.middleName }}
            {{ contact.lastName }}
        </h2>
        <div>

            <div class="user">
                <a href="mailto:{{ contact.email }}"> {{ contact.email }}</a>
                <a href="mailto:{{ contact.email2 }}"> {{ contact.email2 }}</a>
                <a href="mailto:{{ contact.email3 }}"> {{ contact.email3 }}</a>
                <a href="mailto:{{ contact.User1 }}"> {{ contact.User1 }}</a>
                <a href="mailto:{{ contact.User2 }}">{{ contact.User2 }}</a>
                <a href="mailto:{{ contact.User3 }}">  {{ contact.User3 }}</a>
            </div>

        </div>
        {% for s in contact.smsSent %}
            {% include 'logged/one/sms.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
